@{
    ViewData["Title"] = "Luftiga Utrymmen AB";
}

<div>
    <div class="balloon"></div>
    <div class="balloon"></div>
    <div class="balloon"></div>
    <h2>Welcome to Ballong: Luftiga Utrymmen AB</h2>
    
    <p>Tips how to use application:</p>
    <ul>
        <li>Log In / Register</li>
        <li>Go to Projects, you can find it on your navigation bar</li>
        <li>Create Project -- here you actually create a project --</li>
        <li>Click *more* for short project description</li>
        <li>Click *Manage* on your created project</li>
        <li>Create Item</li>
        <li>click *Edit* to edit item</li>
        <li>click *more notes* to get modal view of Description</li>
        <li>click on the item's name to be redirected to a webpage of the item</li>
    </ul>
    <p>For testing purposes you're allowed to register as admin, manager or user. Feel free to abuse your power.</p>
</div>
